{
  "eslintIntegration": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  //"trailingComma": "none",
  "semi": false,
  "endOfLine": "auto",
  "interface-over-type-literal": false
}